In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.model_selection import train_test_split

In [9]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [14]:
df1 = df[['Review Text','Recommended IND']]

In [15]:
df1.head()

                                         Review Text  Recommended IND
0  Absolutely wonderful - silky and sexy and comf...                1
1  Love this dress!  it's sooo pretty.  i happene...                1
2  I had such high hopes for this dress and reall...                0
3  I love, love, love this jumpsuit. it's fun, fl...                1
4  This shirt is very flattering to all due to th...                1

In [19]:
df1.isnull().sum() #845 missing reviews

Review Text        0
Recommended IND    0
dtype: int64

In [18]:
df1.dropna(inplace = True) #drop the missing reviews

In [20]:
blanks = []
for i, rv, lb in df1.itertuples():
    if rv.isspace():
        blanks.append(i)
blanks
# no blank spaces in our reviews so we can move on!

[]

In [26]:
X = df1['Review Text']
y = df1['Recommended IND']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [ ]:
tfidf_trans = TfidfTransformer()
Xtrain_tfidf = tfidf_trans.fit_transform(X)